@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
:root {
  --main-color: #0d2f5f;
  --main-color-alt: #2677ae;
  --second-color: #b92d3a;
}
*{
  box-sizing: border-box;
}
body {
  font-family: 'Cairo', sans-serif;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}
.navbar {
  background-color: var(--main-color);
}
.navbar .navbar-brand img {
  max-width: 70px;
}
.navbar .navbar-nav .nav-item {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  overflow: hidden;

}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  min-height: 50px;
  transition: all 0.3s;
  color: #f5f5f5;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #fff !important;
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  right: -100%;
  transition: all 0.3s;
  bottom: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before,
.navbar .navbar-nav .nav-item .nav-link.active::before {
  right: 0;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
}



.fullScreenMenu {
  transition: all 0.3s;
  opacity: 0;
  width: 100%;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background: var(--main-color-alt);
  height: fit-content;
  z-index: 10;
  padding: 10px;
}

.fullScreenMenu ul ul li.title {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  padding: 10px;
}
.fullScreenMenu ul ul li.title a {
  color: #ffab28;

  font: bold 16px 'cairo';
}
.fullScreenMenu ul ul li {
  text-align: right;
  border-right: 2px solid transparent;
}
.fullScreenMenu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  transition: 0.3s;
}

.fullScreenMenu ul li a:hover{
  transform: translateX(-10px);
}

.navbar .navbar-nav .nav-item:hover > div{
  transition: all 0.3s;
  display: block !important;
  opacity: 1;
}

/* .fullScreenMenu ul {
  width: 100%;
  display: block;
  color: #fff;
  position: relative;
} */


/* start intro */

.intro .row .col{
padding:0 4px;
}



.flex-gap{
  gap:10px
}

.intro .top-latest-news .news{
  position: relative;
  height: 100%;
}
.intro .top-latest-news .news a{
  display: block;
}

.intro .top-latest-news .news .newsTitle h3{
  position: absolute;
  display: inline-block;
  text-align: start;
  bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  font-size: 14px !important;
  font-weight: 600;
  padding: 0 15px;
  z-index: 2;
  width: 100%;


}
.intro .top-latest-news .news .newsTitle ::after{
  content: '';
  position: absolute;
  width: 100%;
  bottom: -18px;
  left: 0;
  top: -100%;
  z-index: -1;
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 50%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 50%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

span.sp3 {
  display: inline-block;
  background: #e88301;
  text-shadow: 0 0 0;
  padding: 0px 7px;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-left: 4px;
  color: #fff;
}

.intro .top-latest-news .latest-news .intro .news{
  height: 366px !important;
  margin-left: 5px !important;
}
@media(max-width:768px){
  .intro .top-latest-news .latest-news .intro .news{ height: 270px !important;}
}

@media(max-width:576px){
  .intro .top-latest-news .latest-news .intro .news{ height: 240px !important;}
}
.intro .top-latest-news  .news{
  overflow: hidden;
  height: 181px;
}
@media(max-width:768px){
  .intro .top-latest-news  .news{
    height: 150px !important;
  }
}
.intro .top-latest-news .latest-news .left-side .news:first-child{
  margin-bottom: 5px;
}

.intro .top-latest-news .topNews{
  margin-top: 5px;
}
.intro .top-latest-news .topNews .news:not(:first-child){
  padding-right: 7px !important;
}


.intro  .matchCenter{
  padding-right: 10px !important;
  height: auto;
  position: relative;
  max-height: 553px;
  padding: 0 !important;
}
.intro  .matchCenter .box{
  margin-top: 0 !important;
height: 100%;

}
@media(max-width:1200px){
  .intro   .matchCenter{

    padding-right: 0 !important;
  }
}

.intro .matchCenterBox .title.bg1 {
  text-align: center;
  padding: 10px 7px;
  color: #fff;
  background: #388bcb;
}

.intro .matchCenterBox .nav-item .nav-link{
  font-weight: bold;
}
.intro .matchCenterBox .nav-item .nav-link.active{
  font-weight: bold;
}

.intro .matchCenterBox .matchBox{
  min-height: 100px;
  margin: 0;
  background: #333;
  padding: 0px 10px;
  background: #fefefe !important;
  display: block;
  text-decoration: none;
  color: #FFF;
}
.intro .matchCenterBox .matchBox .title{
  width: 100%;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #333;
  border-bottom: 1px solid #ddd;
  font: 400 11px 'cairo';
  color: #fff;
}

.intro .matchCenterBox.light .matchBox .lTitle {
  color: #333;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.intro .matchCenterBox.light .matchBox span.type {
  font: normal 11px/10px 'cairo';
}
.intro .matchCenterBox.light .matchBox span.time {
  color: #ff8028;
  font: normal 11px/10px 'cairo';
}
.intro .matchCenterBox .teams{
  position: relative;
  color: #333;

  padding-top: 10px;
}
.intro .matchCenterBox .teams .team1,
.intro .matchCenterBox .teams .team2{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.intro .matchCenterBox .teams span img{
  width: 30px;
  height: 30px;

}
.intro .matchCenterBox .teams  .teamName{
  font: normal 12px/20px 'cairo';
  text-align: center;
  white-space: pre;
 word-break: break-all;


}
.intro .matchCenterBox.light .matchBox .teams .stat .live span.no {
  background: #999;
  font: normal 12px cairo;
  padding: 2px 10px 0 10px;
  color: #fff;
  border-radius: 100px;
}
.intro .matchCenterBox.light .matchBox .teams .stat .live span.notYet {
  background: #00aa4c;
  font: normal 11px cairo;
  padding: 0px 10px 0 10px;
  color: #fff;
  border-radius: 100px;
}
.intro .matchBox .teams .stat span.matchDate {
  float: none;
  font: bold 16px/30px 'cairo';
}
.intro .matchCenterBox .moreMatchesLink {
  text-align: left;
  font: normal 14px 'cairo';
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background: #388ccc;
  display: block;

  width: 100%;
}
@media(max-width:1200px){
  .matchCenterBox .moreMatchesLink {
    width: 100% !important;
  }
}


.intro .tab-content ul{
  background-color: #f5f5f5;
}
.intro  .tab-content ul li{
  padding: 5px;
}

.intro .top-latest-news .topNews{
  position: relative;
}


.ads .items .item{
  overflow: hidden;
  width: 468px;
  height: 70px;
}


h2.title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--main-color);
  position: relative;
}
h2.title::before{
  content: '';
  position: absolute;
  right: -10px;
  height: 100%;
  width: 4px;
  background-color: var(--second-color);
}

.allNews .new{
  padding: 0 2px;
}

.allNews .card.news{
  margin-bottom: 10px;
 
}
.allNews .card.news a img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center top;
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.allNews .card.news a h3{
  font-size: 14px !important;
  font-weight: 600;
  padding: 5px 15px !important;
  padding-top: 5px;
  margin-bottom: 0;
  height: 95px;
  overflow: hidden;
  line-height: 21px;
  background: white;
  color: black;
  overflow: hidden;
}
.allNews .card.news .categoryTag{
  position: absolute;
  bottom: 102px;
  right: 7px;
  font-size: 11px;
  background: #4c9ce1;
  color: #fff !important;
  padding: 2px 6px;
}

.allVideos{
  padding: 0 !important;
}
.videos .card{
  margin-bottom: 10px;
}

.videos .card a{
  margin-bottom: 10px;
}
.videos .card .card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

.videos .card.video > a h3{
  font-size: 14px !important;
  font-weight: 600;
  padding: 5px 15px !important;
  padding-top: 5px;
  margin-bottom: 0;
  height: 50px;
  overflow: hidden;
  line-height: 21px;
  background: white;
  color: black;
  overflow: hidden;
}
.videos .card.video .categoryTag{
  position: absolute;
  bottom: 60px;
  right: 7px;
  font-size: 11px;
  color: #fff !important;
  padding: 4px 6px;
  background: var(--main-color);
  transition: 0.3s;
}

.videos .card.video .categoryTag:hover{
  background: #4c9ce1;
}
.videos .card.video .icon{
  height: 35px !important;
  width: 35px !important;
  position: absolute;
  left: 20px;
  bottom: 70px;
  background: var(--main-color-alt);
  text-align: center;
  border-radius: 50%;
}

.videos .card.video .icon img{
  height: 13px !important;
  width: 13px !important;
  position: relative;
  top: 3px;
  left: 1px;
}



/* News page */

.title .more-category{
  text-align: center;
  padding: 10px 7px;
  color: #fff;
  background: #388bcb;
}

@media (min-width:1200px) {

  .pages .right-side{
  width: calc(100% - 300px);
}
  .pages .left-side{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 0;
    padding: 0 !important;
  }
}

.newsFooter {
  position: absolute;
  bottom: 6px;
  text-align: end;
    padding: 0 4px;
    color: var(--second-color);
  left: 11px;
  font: 400 10px/12px 'cairo';
  display: block;
  width: calc(100% - 100px);
}

.trend .outX{
  direction: rtl;
  overflow: hidden;
  font-family: cairo;
  background: #e9e9e9;
}

#boxUpDown.post.trend {
  padding: 5px !important;
  border-bottom: 1px solid #ddd;
  height: auto;
  background: #fff;
}

#boxUpDown {
  position: relative;
  width: 97%;
  height: 60px;
  margin: 7px auto;
  display: block;
  text-decoration: none;
  background: #fefefe;
  color: #333;
  box-shadow: 0px 0px 2px #eee;
  font-family: cairo;
}



#boxUpDown.post.trend a {
  color: #0a72a9;
  text-decoration: none !important;
  display: flex;
}
#boxUpDown.post.trend a .image {
  position: relative;
  margin-left: 5px;
  min-width: 80px;
  background-size: cover;
}

#boxUpDown.post.trend a .image img.player {
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  top: 14px;
  left: 32px;
  display: none;
}
#boxUpDown.post.trend a .image span {
  position: absolute;
  top: -9px;
  right: -10px;
  background: #f3f3f3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

#boxUpDown.post.trend img {
  width: 100%;
  height: 60px;
}


#boxUpDown.post .title {
  direction: ltr;
  text-align: right;
}
#boxUpDown.post .title .top {
  font-size: 15px;
  color: #ff7f26;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 25px;
  text-align: center;
  transform: rotate(-90deg);
  position: absolute;
  top: 20px;
  left: -20px;
}

#boxUpDown.post.trend .visitors {
  display: none;
}
#boxUpDown.post .title h3 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  padding: 0 7px 0 10px;
  height: 60px;
  overflow: hidden;
}
.box:first-child {
  margin-top: 15px;
}
.boxes{
  position: sticky;
  top: -1700px;
  margin-bottom: 15px;
}

.box{
  position: relative;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.box.ads{
  height: 250px;
}
.box.ads2{
  height: 600px;
}

.box.lastNewsWidget{
  background: #fff;
    padding: 10px;
}

.lastNewsWidget .news {
  display: block;
  height: 75px;
  margin: 5px 0 20px;
  overflow: hidden;
  position: relative;
}

.lastNewsWidget .news a {
  text-align: right;
  text-decoration: none;
  color: #000;
  display: flex;
}

.lastNewsWidget .news a img {
  width: 90px;
  height: 75px;
  object-fit: cover;
  object-position: center top;

}

.lastNewsWidget .news a .newsText {
  font-size: 12px;
  line-height: 19px;
  padding-right: 10px;
  max-width: calc(100% - 105px);
  height: 60px;
  overflow: hidden;
}

.newsFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  font: 400 10px/12px 'cairo';
  display: block;
  width: calc(100% - 100px);
}

.lastNewsWidget.videos .news a::after {
  content: "\f144";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  position: absolute;
  top: 25px;
  color: #fff;
  right: 35px;
  font-size: 20px;
  width: 20px;
  height: 20px;

  background-size: 20px 20px;
}

.leftSide .box.mostRead {
  background: #fff;
  padding: 10px;
}
.box.mostRead {
  max-height: 560px;
  overflow: hidden;
}
.box.mostRead .most {
  display: flex;
  width: 100%;
  position: relative;
  height: 83px;
  background: #eee;
  padding: 12px 12px 15px 2px;
  overflow: hidden;
}
.box.mostRead .most span.number {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #4c9ce1;
  color: #fff;
  margin-top: 5px;
}
.box.mostRead .most a {
  text-decoration: none;
  color: #111;
}
.box.mostRead .most h2 {
  font: 400 14px/21px "cairo";
  text-align: right;
  padding-right: 40px;
}


.box.mostRead .most .line {
  display: block;
  height: 3px;
  background: #e88301;
width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}


.article.post.social {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #e8e8e8 !important;
  height: auto !important;
}



.topProfile {
  display: flex !important;
  position: relative;
  direction: rtl;
  text-align: right;
}

.topData {
  text-align: revert;
  margin-bottom: 10px;
}
.topData img.userImage {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  margin: 4px 4px 0 0;
}
.postDate {
  display: inline-block;
  padding: 5px 10px 0 0;
}

.big-video-box h1.title {
  font-size: 100% !important;
  font-weight: 600 !important;
  padding: 0 0 10px !important;
  /* margin: 1rem 0 0 0 !important; */
  color: #444 !important;
  border-right: none !important;
  letter-spacing: normal !important;
  float: unset !important;
}

.big-video-box a {
  display: inline-block;
  width: 100%;
}

.big-video-box a .imageOfPost{
  position: relative;
}
.big-video-box a .imageOfPost::before{
content: "\f144";
font-family: "Font Awesome 5 Free";
font-weight: 400;
font-size: 80px;
height: 80px;
line-height: 80px;
position: absolute;
top: 50%;
color: #fff;
left: 50%;
transform: translate(-50% , -50%);
}
.categoryBox.of3 h1.title {
  font: 600 25px/35px "cairo";
  letter-spacing: -1px;
  text-align: right;
  border-right: 4px solid #e88301;
  padding-right: 6px;
  margin-bottom: 25px;
  margin-right: 15px;
}


.w100{
  width: 100% !important;
}
.w80{
  width: 80% !important;
}
.w60{
  width: 60% !important;
}
.w40{
  width: 40% !important;
}
.w20{
  width: 20% !important;
}
.w0{
  width: 0 !important;
}
.box:last-child {
  margin-bottom: 0;
}
/* News page */

/* video page */

.big-video-box .tags ul {
  display: block !important;
  width: 100% !important;
  padding: 10px 20px;
  text-align: right;
}
.social ul {
  margin-top: 0;
  position: relative;
  top: 1px;
  left: 24px;
  z-index: 999;
  display: none;
  width: 100px;
}
.big-video-box .tags ul li {
  float: none;
  display: inline-block;
}

.big-video-box .tags ul li h3 {
  overflow: hidden;
  padding: 0 3px;
}

.big-video-box .tags ul li h3 a {
  width: auto !important;
  border-radius: 5px !important;
  background: #eee;
  color: #111 !important;
  padding: 0 15px;
}
.social ul li a {
  height: 21px;
  width: 21px;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #222;
  color: #fff;
  display: block;
  font-size: 12px;
}

.moreVideosBox .moreVideosTitle {
  text-align: right;
  margin: 20px;
}

.moreVideosBox .big-video-box {
  margin: 0 0 30px 0;
  padding: 0;
}

.big-video-box {
  background: #fff;
  box-shadow: 0 10px 10px 5px #ddd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
 
}

.moreVideosBox .big-video-box h1.title {
  padding: 5px 10px !important;
  font-size: 14px !important;
  line-height: 22px;
  height: 75px;
  overflow: hidden;
  margin: 0 25px 0 0 !important;
}
.moreVideosBox .big-video-box img {
  border-radius: 0 0 4px 4px;
  height: 165px;
}

/* video page */


/* news page single */
.breadcrumb{
  background-color: #fff;
  padding: 12px 16px !important;
}

@media (max-width:580px){
  .breadcrumb{
    font-size: 12px !important;
  }
}


article.post {
  background: #fff;
  padding: 15px 0;
}

article.post h1.title {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  padding: 0 20px 20px;
  text-align: right;
  color: #222;
  line-height: 42px;
}

article.post .dateTime {
  position: relative;
  height: 60px;
}
article.post .author {
  direction: ltr;
  text-align: left;
  color: #0a72a9;
  display: inline-block;
  position: absolute;
  width: 47%;
  top: 20px;
  right: 0;
}
article.post .author .authorImage {
  display: inline-block;
  position: absolute;
  left: -6%;
  border-radius: 100px;
  width: 35px;
  height: 35px;
}

article.post .author .authorNameBox {
  display: inline-block;
  width: 100px;
  position: absolute;
  left: 40px;
}
article.post .author span {
  display: block;
  line-height: 16px;
  padding: 1px 0;
  color: #333;
  padding-right: 4px;
}
article.post .author .authorName {
  display: block;
  font-size: 11px;
  color: #0a72a9;
}
article.post .author span {
  display: block;
  line-height: 16px;
  padding: 1px 0;
  color: #333;
  padding-right: 4px;
}
article.post .time {
  direction: rtl;
  text-align: right;
  color: #ff8028;
  position: absolute;
  top: 25px;
  left: 0;
  width: 47%;
}
article.post .time span.day {
  font-size: 16px;
  display: block;
  color: #333;
  margin-bottom: 6px;
}

article.post .time span {
  font-size: 11px;
  color: #0a72a9;
  line-height: 4px;
}
.image-box {
  display: block;
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.article-body {
  text-align: right;
  padding: 0 20px;
  line-height: 28px;
  font-size: 17px;
  font-weight: 600;
}
.article-body p, .article-body div {
  margin-bottom: 20px;
  line-height: 36px;
  height: auto;
  overflow: hidden;
  font-size: 15px;
}
.article-body a {
  color: #007bff;
  text-decoration: none;
}

.readMore ul {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}
.readMore ul li {
  list-style: square;
  color: #ff8028;
}

.article-body a {
  color: #007bff;
  text-decoration: none;
}
.readMore a, .readMore a h4 {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: #0a72a9;
  display: block;
  line-height: 18px;
}

.matchtags, .article-body .tags {
  display: block;
  margin: 5px 0;
  text-align: right;
  padding: 7px;
}

ul{
  margin: 0;
  padding: 0;
}
.matchtags .tag, .article-body .tags li {
  text-decoration: none;
  color: #388bcb;
  margin: 2px;
  font-size: 12px;
  background: #ddd;
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
}
.matchtags .tag h3, .article-body .tags li h3 {
  line-height: 5px;
  font-size: 11px;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.oneNews .social {
  margin-top: 10px;
  width: 310px;
}

.social .title {
  float: right;
  font-size: 16px;
}
.btn-socialmedia div {
  margin-left: 5px;
  float: left;
  opacity: 1;
  position: relative;
  vertical-align: bottom;
  display: flex;
}
.w-share a {
  width: 70px;
  height: 20px;
  display: block;
  background-color: rgb(62, 190, 43);
  text-align: left;
  color: white;
  padding-top: 2px;
  border-radius: 3px;
  line-height: 16px;
  padding-left:10px;
  font-size: 13px;
}

.btn-socialmedia div {
  margin-left: 5px;
  float: left;
  opacity: 1;
  position: relative;
  vertical-align: bottom;
  display: flex;
}
.moreVideos {
  position: relative;
  display: block;
  margin: 15px 0;
  width: calc(100% - 15px) !important;
  padding: 15px;
}

/* news page single */

/* Match Center */



.breadcrumb-item+.breadcrumb-item::before {
  float: unset !important;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "/");
}
#fullMatchCenterTable .row > *{
  max-width: unset !important;
  width: unset;
}

#fullMatchCenterTable .matchsDays {
  margin: 0 !important;
}
#fullMatchCenterTable .matchsDays .col {
  padding: 0 !important;
}
#fullMatchCenterTable .matchsDays .day {
  background: #fff;
  border-left: 1px solid #aaa;
  cursor: pointer;
}
#fullMatchCenterTable .matchsDays .day.last {
  border-left: none;
}

#fullMatchCenterTable .matchsDays .day .time {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

#fullMatchCenterTable .matchsDays .day .time .dayDate span,
#fullMatchCenterTable .matchsDays .day .time .dayDate time {
  display: block;
  font-weight: 700;
}

@media (max-width:768px){
  #fullMatchCenterTable{
    position: relative;
  }
  #fullMatchCenterTable .matchsDays .day .time .dayDate span,
#fullMatchCenterTable .matchsDays .day .time .dayDate time {
  font-weight:normal !important;
  font-size: 11px !important;
}
#fullMatchCenterTable .matchsDays .datepicker{
  position: absolute;
  top: 29px;
  left: 17px;
}
}

#fullMatchCenterTable .matchsDays .day.active {
  background: #3a8bcc;
  color: #fff;
}

#fullMatchCenterTable .matchCenterBox.full.light .nav-tabs {
  margin-bottom: 14px;
}
#fullMatchCenterTable .matchCenterBox.light .nav-tabs {
  background: #ddd;
  border-bottom-color: #f5f5f5;
}
#fullMatchCenterTable  .matchCenterBox.light .nav-tabs .nav-item {
  padding: 10px 0;
}

#fullMatchCenterTable  .matchCenterBox.light .nav-tabs select.nav-item{
  background: #fff !important;
  border-radius:0 !important ;
}

#fullMatchCenterTable .matchCenterBox.light .nav-tabs .nav-item.show .nav-link,
.matchCenterBox.light .nav-tabs .nav-link.active {
  border-radius: 0 !important;
  background-color: #aaa;
  color: #333;
  border-color: transparent !important;
}
#fullMatchCenterTable .matchCenterBox .nav-tabs .nav-item {
  color: #f9f9f9;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border: 1px solid #dddddd;
}
#fullMatchCenterTable .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
}
#fullMatchCenterTable .nav-tabs .nav-item {
  margin-bottom: -1px;
}
#fullMatchCenterTable .matchCenterBox.light .nav-tabs .nav-item {
  color: #555;
  line-height: 22px;
  font-size: 12px;
}

#fullMatchCenterTable ul .matchBox{
  margin: 7px auto;
  min-height: 100px;
  background: #333;
  padding: 0px 10px;
  /* border-bottom: 2px solid #555; */
  background: #fefefe !important;
  color: #333 !important;
}

#fullMatchCenterTable ul .matchBox a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

#fullMatchCenterTable .matchBox.dark .newsLinks a {
  color: var(--second-color);
}
#fullMatchCenterTable .matchBox.dark .newsLinks a:hover {
  color: #fff;
}
#fullMatchCenterTable .matchBox.dark .newsLinks a.col {
  padding: 5px 0;
}

#fullMatchCenterTable .matchBox.dark.title.row {
  background: #252525 !important;
  color: #fff !important;
}
#fullMatchCenterTable .matchBox.title.row img {
  max-width: 35px;
  max-height: 35px;
  margin: 0;
  padding: 0;
}
#fullMatchCenterTable .matchBox .legTitle {
  padding: 5px;
  font-size: 14px;
  margin-bottom: 0;
}
 
#fullMatchCenterTable .matchBox .newsLinks {
  padding-left: 0;
}
 #fullMatchCenterTable .matchCenterBox.full .matchBox {
  padding: 10px;
} 
.matchCenterBox .teams {
  position: relative;
  color: #333;
}
#fullMatchCenterTable .matchBox .teams .team1,
#fullMatchCenterTable .matchBox .teams .team2 {
  width: 25%;
  text-align: center;
  margin-top: 7px;
}

#fullMatchCenterTable .matchBox .teams .stat {
  width: 25%;
  text-align: center;
  margin-top: 7px;
  position: relative;
}
#fullMatchCenterTable .matchBox .teams .stat .results {
  position: absolute;
  width: 100%;
    top: 20px;
    padding: 0 10px;
}
.matchCenterBox.light .matchBox .teams .team1 span,
.matchCenterBox.light .matchBox .teams .team2 span {
  width: 100%;
  color: #333;
}

#fullMatchCenterTable .matchBox .teams .team1 span img,
#fullMatchCenterTable .matchBox .teams .team2 span img {
  width: 40px;
  height: 40px;
}

#fullMatchCenterTable .matchCenterBox.light .matchBox .teams .team1 span,
#fullMatchCenterTable .matchCenterBox.light .matchBox .teams .team1 h3, 
#fullMatchCenterTable .matchCenterBox.light .matchBox .teams .team2 span, 
#fullMatchCenterTable .matchCenterBox.light .matchBox .teams .team2 h3 {
  width: 100%;
  font-weight: 600;
  margin-top: 5px;
  font-size: 14px;
}

.matchCenterBox .live .status {
  background: #a10;
  padding: 0px 10px 0 10px;
  border: 0;
  color: #fff;
  width: fit-content;
  animation: boomLive 0.4s infinite;
  border-radius: 100px;
  margin: 0 auto;
}
#fullMatchCenterTable .notYet .status {
  background: #00aa4c;
  margin: 0 auto 10px;
  padding: 0px 10px 0 10px;
  color: #fff;
  border-radius: 100px;
width: fit-content;
}
#fullMatchCenterTable .ended .status {
  background: #999;
  /* font: normal 12px 'cairo'; */
  padding: 0px 10px 0 10px;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  border-radius: 100px;
}

#fullMatchCenterTable .matchBox .teams .stat .team1G,
#fullMatchCenterTable .matchBox .teams .stat .team2G{
  font-size: 30px;
  font-weight: bold;
}

#matchtable .teamsfooter {
  font-size: 12px;
  text-align: center;
}

@keyframes boomLive{
  0% {
    border: 2px solid rgba(255, 25, 0, 1);
    background: #d10;
}
100% {
    border: 2px solid rgba(255, 25, 0, 0);
    background: #a10;
}
}

button.datepicker {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 25px;
  color: #3a8bcc;
  cursor: pointer;
}

/* Match Center */

/* league single page */
@media (max-width: 1199px){
  .league  .container {
      max-width: 100%;
      padding: 0;
      margin: 0;
  }
}

.leagueMenu{
  background-color: var(--main-color-alt);
  overflow: hidden;
  margin: 0 auto;
  margin-left: auto !important;
  margin-bottom: 5px;
  padding: 10px !important;
}
.leagueMenu .logo,
.leagueMenu .links{
  padding: 0 !important;
}
.leagueMenu .logo .leagueTitle,
.leagueMenu .links{
  justify-content: center;
  text-align: center;
}
@media (max-width:768px){
  .leagueMenu .logo,
.leagueMenu .links{
  justify-content: flex-start;
}
}
.leagueMenu .col{
  padding: 0 !important;
}
.leagueMenu .leagueTitle img {
  width: 80px !important;
  height: 80px !important;
  display: inline-block;
  margin: 4px;
  background: #ffffff !important;
  padding: 3px;
  border-radius: 4px;
}
.leagueTitle h1 {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  padding-right: 10px;
  align-self: center;
  margin: 0;
}
.leagueMenu .links{
  align-self: center;

}
.leagueMenu .links a{
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  color: #999;
  padding: 10px
}

.leagueMenu .links a.active{
  color: #fff;
  position: relative;
}

.leagueMenu .links a.active::before{
position: absolute;
content: "";
width: calc(100% - 20px);
height: 4px;
left: 50%;
transform: translateX(-50%);
bottom: 0;
background-color: #fff;
}
@media (max-width:768px){
  .leagueTitle h1 {
    font-size: 22px;
  }
  .leagueMenu .links a{
    font-weight: normal;
    padding: 10px
  }
}

@media (min-width:576px){

  .league .page-content .allNews .new{
    padding: 0 0 0 15px !important;
  }
}
.league .page-content .box:first-child {
  margin-top: 0px !important;
}


.league .page-content .leagueTables .card:last-child {
  margin-bottom: 0 !important;
}

.league .page-content .leagueTable {
  font-size: 12px;
  color: #333;
}

.league .page-content .leagueTable tr {
  border-bottom: 1px solid #eee;
}
.league .page-content .leagueTable tr > th {
  background: white;
  position: sticky;
  top: 65px;
  box-shadow: 0 2px 2px -1px rgb(0 0 0 / 40%);
}
.leagueTable th {
  padding: 5px;
  text-align: center;
}
.league .page-content .leagueTable td {
  padding: 5px;
  text-align: center;
}
.league .page-content .leagueTable td:nth-child(2) {
  text-align: right;
  width: 200px !important;
}
.league .page-content .leagueTable b {
  font-size: 11px;
}
.league .page-content .leagueTable.leagueTable a {
  text-decoration: none;
  color: #333;
}
.league .page-content  .leagueTable img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 3px;
}
.league .page-content .left-side .box.ads{
  height: 600px !important;
}
.league .boxes{
  position: relative !important;
  top: unset !important;
  /* margin-bottom: 15px; */
}

.league .intro .matchCenter {
  max-height: 473px !important;
}
.league .videos .card .card-img-top{
  height: 180px !important;
}

.leftShow .news {

  height: 295px !important;
  margin-top: 0;
}

/* league single page */

/* league videos page */
.league.videos .videos .card .card-img-top{
  height: 130px !important;
}

/* league videos page */
/* league matches page */

.league.matches .leagueTables  .nav-tabs {
  background: #4c9ce1 !important;
  padding: 10px 10px 5px;
  height: auto !important;

}


.league.matches .leagueTables  .nav-tabs h3.title{
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
  align-self: center;

}
.league.matches .leagueTables  .nav-tabs select{
  max-height: 38px;
  padding: 0 !important;
  margin-right: 30px;
  border-radius: 0;
  color: #333;
}

.league.matches .matchCenterBox.full .matchBox.title {
  padding: 10px;
  background: #252525 !important;
  border-right: 5px solid var(--second-color);
  
}
.league.matches .matchCenterBox.full h3.title {
 font-size: 16px;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

.league.matches .matchDate h4 {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}

.league.matches .fullMatchBox .matchBox .teams{
  display: flex;
  justify-content: space-between;
}
.league.matches .fullMatchBox .matchBox .teams .stat .results{
position: absolute;
display: flex;
width: 100%;
justify-content: space-between;
}


/* league matches page */
/* league matches team page */
.league .page-content .leagueTable tr > th{
  top: 0;
}

.match-details .matchCenterTable {
  color: #ffffff;
  overflow: hidden;
  background: #3a8bcc url(https://static.btolat.com/images/matchCenterTableStadium.jpg) top center no-repeat;
  min-height: 200px;
  background-size: cover;
  margin-right: 0;
  margin-left: 0;
}

.match-details .matchCenterTable .quickView {
  position: relative;
  min-height: 350px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}
.match-details .matchCenterTable .teamA {
  direction: ltr;
}
.match-details .matchCenterTable .teamB {
  direction: rtl;
}
.match-details .clr2 {
  color: #ff8028;
}
.match-details .teamImage {
  background: #fff;
  border: 10px solid #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 10px;
}
.matchTimer {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.matchTimer .timeNow {
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.matchTimer .timeNow span {
  padding: 0px 7px;
  position: absolute;
  bottom: calc(100% + 5px);
  right: calc(100% - 20px);
  height: 30px;
  width: max-content;
  width: -moz-max-content;
  font-weight: 700;
}

.lastNewsMatchCenter {
  min-height: 40px;
  padding: 5px;
  margin-right: 0;
  margin-left: 0;
}
.bg1 {
  background: #3a8bcc;
}
/* .bobo {
  text-align: center;
} */
.lam {
  display: inline-block;
  margin: 4px 10px;
  color: #fff;
}
.lam img {
  margin: 0 5px;
}
.lam span {
  font-size: 70%;
  font-weight: 400;
  line-height: 20px;
}

/* league matches team page */

/* match details */
@media (min-width: 1024px){

  .rightBoxes>div:first-child {
      margin: 0;
      margin-top: 15px;
      text-align: right;
  }
}
.col.rshandler {
  padding: 0;
  margin-right: -4px;
}

.match-details .rshandler .tabsLinks {
    padding: 10px 0 !important;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: #999999;
    text-align: center;
}
.match-details .rshandler .tabsLinks a {
  text-decoration: none;
  color: #999999;
  position: relative;
  transition: all 0.3s;
}
.match-details .rshandler .tabsLinks a.active,
.match-details .rshandler .tabsLinks a:hover {
  color: #3a8bcc !important;
}


.match-details .rshandler .tabBody {
  background: #f5f5f5 !important;
  padding: 0 !important;
  margin-top: 0 !important;
  font-size: 14px;
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
  box-shadow: 0 1px 1px #eee !important;
  text-align: center;
}

.match-details .rshandler  .tabBody>.col {
  padding: 0;
}
.match-details .rshandler  .tabBody .tabTitle {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0px 40px;
  font-weight: 700;
  margin: 10px;
  font-size: 14px;
}
.match-details .rshandler  .tabBody .tabBody h1 {
  font-size: 18px;
}
.match-details .rshandler  .tabBody .tabTitle span {
  z-index: 2;
  background: #f5f5f5;
  position: relative;
  padding: 0 10px;
  line-height: 22px;
  display: inline-block;
}
.match-details .rshandler  .tabBody .tabTitle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 1px;
  top: 10px;
  background: #aaa;
  z-index: 0;
}
.match-details .rshandler  .tabBody .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 1px rgb(0 0 0 / 15%);
    padding: 7px;
    text-align: right;
    margin: 5px 0;
  }
  .match-details .rshandler  .tabBody .card img {
    max-width: 100%;
}
.imgHis {
  width: 30px;
  height: 30px;
}
.fastHis span {
  font-size: 11px;
  margin-top: 10px;
}
.match-details .rshandler  .tabBody .fastHis {
  font-size: 14px;
  font-weight: 700;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.match-details .rshandler  .tabBody .fastHis:nth-child(2) {
  justify-content: center;
}


 .match-details .rshandler  .tabBody .card .historyChart {
  position: relative;
    padding: 15px 60px 15px 30px !important;
    font-size: 12px;
}
.match-details .rshandler  .tabBody .card .historyChart p {
  text-align: center;
  color: #111;
  font-weight: 700;
}
.match-details .rshandler  .tabBody .card .historyChartTeamAWin ,
.match-details .rshandler  .tabBody .card .historyChart .historyChartDraw,
.match-details .rshandler  .tabBody .card .historyChart .historyChartTeamBWin{
  position: relative;
  padding-top: 13px;
}

.match-details .rshandler  .tabBody .card .historyChart .historyChartTeamAWin p span {
  position: relative;
  background: transparent;
  color: #f89c22;
}


.match-details .rshandler  .tabBody .card .historyChart span {
  height: 6px;
  background: #ff8028;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.match-details .rshandler  .tabBody .historyChart .historyChartDraw span {
  height: 6px;
  background: #aaa;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.match-details .rshandler  .tabBody .historyChart .historyChartDraw p span {
  position: relative;
  background: transparent;
  color: #aaa;
}
.match-details .rshandler  .tabBody .card  .historyChart .historyChartTeamBWin span {
  height: 6px;
  background: #3a8bcc;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.match-details .rshandler  .tabBody .card  .historyChart .historyChartTeamBWin p span {
  position: relative;
  background: transparent;
  color: #3a8bcc;
}

.TeamVsTeam {
  position: relative;
  padding-bottom: 4px;
  margin: 4px 0;
  border-bottom: 1px solid #e5e5e5;
}
.TeamVsTeam .dateAndPlace {
  font-size: 12px;
  color: #333;
  text-align: right;
}
.TeamVsTeam .dateAndPlace p span {
  display: block;
  color: #3a8bcc;
}

.TeamVsTeam .teamA {
  text-align: left;
  padding: 0;
  font-size: 24px;
  position: relative;
  line-height: 45px;
}
.TeamVsTeam .teamA .lose, .TeamVsTeam .teamA .lose a, .TeamVsTeam .teamB .lose, .TeamVsTeam .teamB .lose a {
  color: #999;
  font-size: 10px !important;
  font-weight: 700;
  text-decoration: none;
}
.TeamVsTeam .teamA .lose, .TeamVsTeam .teamA .lose a, .TeamVsTeam .teamB .lose, .TeamVsTeam .teamB .lose a {
  color: #999;
  font-size: 10px !important;
  font-weight: 700;
  text-decoration: none;
}
.TeamVsTeam .teamA img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 6px;
}
.TeamVsTeam .teamA span {
  margin: 0 7px;
  font-size: 28px;
}
.TeamVsTeam .teamB {
  text-align: right;
  padding: 0;
  font-size: 24px;
  position: relative;
  line-height: 45px;
}
.TeamVsTeam .teamA .win, .TeamVsTeam .teamA .win a, .TeamVsTeam .teamB .win, .TeamVsTeam .teamB .win a {
  color: #111;
  font-size: 10px !important;
  font-weight: 700;
  text-decoration: none;
}
.TeamVsTeam .teamB span {
  float: right;
  margin: 0 7px;
  font-size: 28px;
}
.TeamVsTeam .teamB img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 6px;
}
.TeamVsTeam .teamA .win, .TeamVsTeam .teamA .win a, .TeamVsTeam .teamB .win, .TeamVsTeam .teamB .win a {
  color: #111;
  font-size: 10px !important;
  font-weight: 700;
  text-decoration: none;
}
.leagueTable {
  font-size: 12px;
  color: #333;
}

.leagueTable tr:last-child {
  border-bottom: 0px;
}
.leagueTable tr > th {
  background: white;
  position: sticky;
  top: 65px;
  box-shadow: 0 2px 2px -1px rgb(0 0 0 / 40%);
}
.groupTitle {
  color: #4c9ce1;
  text-align: right !important;
}
.leagueTable tr {
  border-bottom: 1px solid #eee;
}
.leagueTable td {
  padding: 5px;
  text-align: center;
}
.leagueTable b {
  font-size: 11px;
}
.leagueTable img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 3px;
}
/* 

 */
  .match-details .videos .card .card-img-top {
    height: 180px;
  }
  .match-details .videos .card.video > a h3 {
    height: 95px;
  }
  .match-details .videos .card.video .icon {
    bottom: 120px;
  }
  .match-details .videos >div{
    padding: 0 2px !important;
  }
  .match-details .videos .card.video .categoryTag {
    bottom: 102px;
  }
  .match-details .allNews .new {
    padding: unset !important
} 
  .match-details .rshandler  .tabBody .timeline {
    direction: ltr;
    overflow: hidden;
}


.match-details .rshandler  .tabBody .timeline ul {
  background: #fff;
  padding: 50px 0;
}
.match-details .rshandler  .tabBody .timeline ul li {
  list-style-type: none;
  position: relative;
}
.match-details .rshandler  .tabBody .timeline .titleTL {
  width: 150px !important;
  z-index: 99999;
  background: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 3px !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
}
.match-details .rshandler  .tabBody .timeline .titleTL::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: #ff7f26 !important;
  width: 120px !important;
  height: 25px !important;
  border-radius: 0 !important;
  z-index: -1 !important;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  background: #e3e4e6;
  padding-bottom: 20px;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;

}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li.rightTL div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #e3e4e6 transparent transparent;
}
.timeline ul li.leftTL div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #e3e4e6;
}
.match-details .rshandler  .tabBody  .timeline ul li div {
  position: absolute;
  bottom: 0;
  width: max-content;
  max-width: 310px;
  padding: 7px;
  background: #fff;
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  margin: 0;
  transition: all .5s ease-in-out;
}
.match-details .rshandler  .tabBody  .timeline ul li.rightTL div {
  left: 27px;
  bottom: -5px;
}
.match-details .rshandler  .tabBody  .timeline ul li.leftTL div {
  right: 27px;
  bottom: -5px;
}
.match-details .rshandler  .tabBody  .timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.rightTL {
  text-align: left;
}
.leftTL {
  text-align: right !important;
  direction: rtl;
}
.titleTL::before {
  content: '';
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 30px;
  border-radius: 0;
  background: #e3e4e6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 800px){
  .timeline ul li div {
    max-width: 113px !important;
    font-size: 10px;
    padding: 6px;
  }
}
@media screen and (max-width: 800px){
  .timeline ul li.rightTL div {
    left: 25px;
    bottom: -5px;
  }
}
.match-details .rshandler  .tabBody{

}
.match-details .rshandler  .tabBody{

}
.match-details .rshandler  .tabBody{

}

.card.format {
  position: relative;
  margin: 0px auto !important;
  padding: 0 !important;
  width: 100% !important;
  display: block;
  float: none;
  min-height: 700px;
}
.card.format .row > div{
  padding: 0 !important;
}

.format .teamHome {
  direction: ltr;
  text-align: left;
  min-width: 100px;
}
.format .teamFormat {
  padding: 5px;
  left: 50%;
  height: 640px;
}
.format .teamTitle {
  font: bold 14px 'cairo';
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}
.format .teamTitle span {
  text-align: center;
}
.format .player {
  text-decoration: none;
  color: #111;
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 4px;
}
.format .player .playerNumber {
  font-weight: 700;
  width: 16px;
  display: inline-block;
}
.format .teamHome .playerNumber {
  color: #ff8028;
}
.format .player .playerImage {
  width: 20px;
  height: 25px;
  display: inline-block;
}
.format .player .playerImage img {
  width: 20px;
  height: 20px;
}
.format .player .playerName {
  display: inline-block;
  font-size: 13px;
}
.format .teamAway {
  direction: rtl;
  text-align: right;
  min-width: 100px;
}
.format .teamAway .teamTitle {
  text-align: right;
}
.format .player .playerNumber {
  font-weight: 700;
  width: 16px;
  display: inline-block;
}



/* match details */


.footer {
  background-color: var(--main-color-alt);
}

.footer .copyrights{
  background-color: var(--main-color);
}